@charset"UTF-8";
@import url(reset.css);

/*div#headerFrame*/
div#wrap{
    width: 100%;
}
div#headerFrame{
    width: 100%;
}

div#headerFrame header#header{
    width: 1200px;
    height: 135px;
    margin: 0 auto;
}

/*header#header*/
header#header #lnbMenu {
    padding: 15px 0;
    text-align: center;
}

header#header #lnbMenu ul>li.lnbLi{
        color: #2b56a5;
}

header#header #lnbMenu li {
    padding: 5px;
}
div#headerArea{
    width: 100%;
}

div#headerArea #headerLogo{
    width: 250px;
    text-align: center;
    padding-top: 20px;
    padding-right: 15px;
}

div#headerArea ul#gnbMenu{
    padding-top: 30px;
    text-align: center;

    -webkit-flex: 1px;
    -moz-flex: 1px;
    -ms-flex: 1px;
    -o-flex: 1px;
    flex: 1px;
}

div#headerArea ul#gnbMenu li.gnbLi{
    height: 41px;
    align-items: center;
    background-color: #fff;
}


div#headerArea ul#gnbMenu li.gnbLi>a{
    font-size: 20px;
    text-align: center;
}

div#headerArea ul#gnbMenu ul.subMenu{
    padding: 20px 0;
    font-size: 14px;
    text-align: left;
    line-height: 34px;
    background-color: #fff;

    border-right: 1px solid #ddd;
    justify-content: space-between;

    position: absolute;
    top: 136px;
    z-index: 999;

    display: none;
}




div#headerArea ul#gnbMenu ul.subMenu li{
    padding-left:15px;
    padding-right: 10px;

}
div#headerArea ul#gnbMenu ul.subMenu li:hover{
    background-color: #f56254;
}

div#headerArea ul#gnbMenu ul.subMenu li:hover>a{
    color: #fff;
}

div#headerArea ul#gnbMenu li.subMenu img{
    width: 13px;
    height: 13px;
    margin-left: 8px;
}



div#headerArea ul#gnbMenu li.gnbLi:first-child ul.subMenu{
        border-left: 1px solid #ddd;

}


div#headerArea #gnbMenu .gnbLi:first-child,
div#headerArea #gnbMenu .gnbLi:first-child>ul{
    width: 180px;
}

div#headerArea #gnbMenu .gnbLi:nth-child(2),
div#headerArea #gnbMenu .gnbLi:nth-child(2)>ul{
    width: 200px;
}

div#headerArea #gnbMenu .gnbLi:nth-child(3),
div#headerArea #gnbMenu .gnbLi:nth-child(3)>ul{
    width: 180px;
}
div#headerArea #gnbMenu .gnbLi:nth-child(4),
div#headerArea #gnbMenu .gnbLi:nth-child(4)>ul{
    width: 179px;
}
div#headerArea #gnbMenu .gnbLi:nth-child(5),
div#headerArea #gnbMenu .gnbLi:nth-child(5)>ul{
    width: 210px;
}

div#gnbBG{
    width: 100%;
    height: 248px;
    background-color: rgba(255, 255, 255);
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    position: absolute;
    top: 134px;
    display: none;
}

#bgArea{
width: 100%;

}



/*div#headerFrame*/





/*div#sldieFrame*/

div#slideArea{
    margin: 0 auto;
}
div#slideArea #slideBG{
   background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    text-align: center;

    padding-top: 90px;

    width: 100%;
    height: 710px;
    background-position: center;

}
div#slideArea h1{
    font-size: 38px;
    color: #fff;
    font-weight: normal;
    padding: 40px 0;

}
div#slideArea div#search{
    margin: 0 auto;
    padding: 10px;
    width: 800px;
    height: 70px;
    border-radius: 50px;
    background-color: #fff;
    align-items: center;
}

div#slideArea div#search>input{
    width: 600px;
    height: 30px;
    margin-left: 20px;
    border: none;

}
div#slideArea div#search>span{
    width: 50px;
    height: 50px;
    line-height: 45px;
}

div#slideArea div#search #closeMark{
    margin-left: 26px;
    visibility: hidden;
}

div#slideArea div#search #searchImg{
    margin-right: 10px;
}



/* div#slideArea */





















